<!DOCTYPE html>
<html>
<head>
	<title>WEB700</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/theme.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
	
	
	<div class="container">
		<div class="row">
			<main class="col-md-12">
				<br>

				<!-- Start your code here -->

				<!-- Main -->
				<div id="main">
					<!-- Post -->
					<article class="post">
						<header>
							<br>
							<div class="title">
								<h2><a href="#">Welcome To My Space!</a></h2>
								<p>I will be demonstrating HTML5 principles and techniques, Routing in Express, and more.</p>
							</div>
							<hr class="custom-hr">
						</header>

						<h4>Website Introduction</h4>
						<p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including: All Students, Students by Course, Student by Student Number, All TAs, and Courses. You can navigate to these pages using the following links:</p>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/htmlDemo">HTML Demo</a></li>
							<li><a href="/students">All Students</a></li>
							<li><a href="/students">Students by Course</a></li>
							<li><a href="/student/2">Student by Student Number</a></li>
							<li><a href="/courses">Courses</a></li>
						</ul>

						<p>Feel free to explore further, click on different sections, and discover even more valuable information. We hope you find our website informative, engaging, and useful for your needs.</p>
						<hr class="custom-hr">
						<h4>HTML5 Introduction</h4>
						<p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web. HTML5 is the latest version of the Hypertext Markup Language (HTML), which is the standard markup language used for creating and structuring webpages on the World Wide Web. It is the fifth revision of HTML and introduces a range of new features and capabilities that enhance the functionality and interactivity of web content.</p>
						
						<footer class="footer">
							<div class="social-icons">
								<a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
								<a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
								<a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
								<a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
							</div>
							<p>&copy; 2023 WEB700. All rights reserved.</p>
						</footer>
					  
					</article>
				</div>
			</main>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
